@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cinzel:wght@400..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap');
.cinzel{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: "";
    font-style: normal;
  }

  .bricolage-grotesque-{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
  }
  
*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://st2.depositphotos.com/1040018/5303/i/950/depositphotos_53035275-stock-photo-brasil-flag-on-the-wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}


header{
    background-color: transparent;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

header p{
    color: #fff;
    font-family: "Cinzel", serif;
    font-size: 90px;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

article{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 300px;
    background-color: transparent;
    border-radius: 20px;
    position: relative;
    bottom: 0;
    top: 150px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 2%;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 20px;
}


article::-webkit-scrollbar {
    height: 10px; 
  }
  
  article::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 10px;
  }
  
  article::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(26, 56, 39, 1), rgba(51, 48, 18, 1));
    border-radius: 10px;
  }
  
  article::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, rgba(51, 48, 18, 1), rgba(26, 56, 39, 1));
  }
  

div{
    flex: 0 0 300px;
    height: 70%;
    flex-shrink: 0;
    color: #fff;
    font-size: 13px;
    line-height: 28px;
    font-family: "Bricolage Grotesque", sans-serif;
    padding: 30px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: #0a212b;
    background: linear-gradient(90deg,rgba(10, 33, 43, 1) 0%, rgba(26, 56, 39, 1) 50%, rgba(51, 48, 18, 1) 100%);    
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

div:hover{
    box-shadow: 10px 5px 5px #1C1C1C;
    transform: scale(1.02);
    background: #0d2b38;
    background: linear-gradient(90deg,rgba(13, 43, 56, 1) 0%, rgba(36, 77, 54, 1) 50%, rgba(77, 72, 27, 1) 100%);
}

.hino{
    position: relative;
    width: 20%;
    color: #fff;
    font-size: 17px;
    font-family: "Jost", sans-serif;

}

.sub{
    font-family: "Cinzel", serif;
    font-size: 30px;
    margin-bottom: 10px;

}

.imagens{
    border-radius: 10%;
    width: 70%;
    height: 70%;
    filter: saturate(50%);
}

.imagens:hover{
    box-shadow: 10px 5px 5px #1C1C1C;
    transform: scale(1.02);
    filter: saturate(100%);
}

footer{
    color: #fff;
    font-size: 13px;
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}


